$color-primary: #FFFFFF;
$color-secondary: #000000;
$color-red: #FF0000;
$color-text: #000000;
$color-text-light: #FFFFFF;
$color-text-footer: #6F6F6F;
$color-nav-list: #F5F5F5;
$color-background: #FFFFFF;
$color-gray-light: #f5f5f5;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;
$spacing-xxxl: 60px;
$spacing-xxxxl: 100px;
$spacing-xxxxxl: 110px;
$spacing-xxxxxxl: 120px;

$container-width-sm: 1200px;
$container-width-md: 1400px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-family-base: 'Golos Text', 'Arial', sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxll: 64px;
$font-size-title: 42px;
$font-size-title-sm: 36px;
$font-size-title-xs: 28px;

$letter-spacing-sm: 0.3px;
$letter-spacing-md: 2px;